<h2><%= t("registration")%></h2>
<script>
 function changePessoalType(){
		if($('#choose_fisica').is(":checked")){
			showFisica();
		}else{
			showJuridica();
		}
 }
	function showFisica(){
		$('#pessoa_juridica_data').hide();
			$('#pessoa_fisica_data').show();
	}
	function showJuridica(){
		$('#pessoa_fisica_data').hide();
		$('#pessoa_juridica_data').show();
	}
</script>
<div class="inner">
  <div id="registration_error"></div>
  <div id="registration_choice">
    <h3><%= t("register_or_guest") %></h3>
    <p>
      <input id="choose_register" type="radio" name="choose_registration" value="register" />
      <label for="choose_register"><%= t("register") %></label>
    </p>
    <p>
      <input id="choose_existing" type="radio" name="choose_registration" value="existing"/>
      <label for="choose_existing"><%= t("existing_customer") %></label>
    </p>
  </div>
  <div id="registration_input">
    <div id="existing_user">
      <h3><%= t("already_registered") %></h3>
      <div id="login">
        <p>
          <%= label :user_session, :login, t("email") %>
          <%= text_field :user_session, 'login', :class => 'required' %><span class="req">*</span>
        </p>
        <p>
          <%= label :user_session, :password, t("password") %>
          <%= password_field :user_session, 'password', :class => 'required' %><span class="req">*</span>
        </p>
      </div>
    </div>
    <div id="new_user">
      <h3><%= t("create_user_account") %></h3>
    	<p>
  	  <label for="Nome">Nome</label>
      	  <%= text_field :user, 'name', :class => 'required' -%><span class="req">*</span>
      	</p>
    	<p>
  	  <label for="<%= t("email") %>"><%= t("email") %></label>
      	  <%= text_field :user, 'email', :class => 'required' -%><span class="req">*</span>
      	</p>
      	<p>
      	  <label for="<%= t("password") %>"><%= t("password") %></label>
      	  <%= password_field :user, 'password', :class => 'required' %><span class="req">*</span>
      	</p>
      	<p>
      	  <label for="<%= t("confirm") %>"><%= t("confirm") %></label>
      	  <%= password_field :user, 'password_confirmation', :class => 'required' %><span class="req">*</span>
      	</p>
		    <p>
		      <input id="choose_fisica" name="user[person_type]" type="radio" name="type" value="Fisica" onclick="changePessoalType();" selected="selected"/>
		      <label for="choose_fisica">Pessoa Física</label>
		    </p>
		    <p>
		      <input id="choose_juridica" name="user[person_type]" type="radio" name="type" value="Juridica" onclick="changePessoalType();" />
		      <label for="choose_juridica">Pessoa Jurídica</label>
		    </p>
				<div id="pessoa_fisica_data">
			   	<p>
			   	  <label for="CPF">CPF</label>
			   	  <%= text_field :user, 'cpf' %>
			   	</p>
			   	<p>
			   	  <label for="RG">RG</label>
			   	  <%= text_field :user, 'rg'%>
			   	</p>
				</div>
				<div id="pessoa_juridica_data" style="display: none;">
			   	<p>
			   	  <label for="Razão Social%>">Razão Social</label>
			   	  <%= text_field :user, 'razao_social'%>
			   	</p>
				  <p>
			   	  <label for="CNPJ">CNPJ</label>
			   	  <%= text_field :user, 'cnpj'%>
			   	</p>
				</div>
				<p>
		   	  <label for="DDD">DDD</label>
		   	  <%= text_field :user, 'code_area'%>
		   	</p>
			  <p>
		   	  <label for="Fone">Fone</label>
		   	  <%= text_field :user, 'phone'%>
		   	</p>
			  
     </div>
    </div>
  <div id="already_logged_in"><p>You are already logged in.</p></div>
  <div class="form-buttons">
    <input id="continue_registration" type="button" class="button primary" value="<%=t("continue") %>"/>
  </div>
</div>

